@import '../../scss/config';

.background {
  background: #e5e5e5;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px;
}

.container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 140px;
  @media (max-width: $sm) {
    padding-bottom: 200px;
  }
}

.body {
  display: flex;
}

//только из-за скелетона добьавил, треш, конеш
.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: $xl) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media (max-width: $lg) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
