@import '../../../scss/config';

.background {
  background: #e5e5e5;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  // text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.introduction {
  text-align: center;
  font-size: 22px;
  padding-top: 30px;
}

.clarification {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  padding: 20px 20px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 40px;
  // background: #419be0;
  // .slick-prev{
  //   color:red;
  //   background-color: red;
  // }
  button.slick-arrow.slick-prev {
    .slick-prev {
      left: 25px;
    }
  }
  button {
  }
  .slick-slider.slick-initialized {
  }
}

.bottom {
  margin: 0 auto;
  text-align: center;
  padding: 30px 20px;
  font-weight: bold;
  font-size: 20px;
}

.buttonBottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  @media (max-width: $lg) {
    display: block;
    padding-top: 0px;
  }
}

.imgBottom {
  max-width: 40px;
}

.buttonSubtitle {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}

// .arrow {
//   position: absolute;
//   color: #000000;
//   font-size: 2.5em;
//   font-weight: bold;

//   cursor: pointer;
// }

// .nextArrow {
//   top: 0;
//   right: -45px;
// }

// .prevArrow {
//   top: 0;
//   left: -45px;
// }
