.wrapper{
    // background-color: red;
    // padding-top: 300px;
}
.trashСan{
    cursor: pointer;
    width: 30px;
}
.deleteSpan{
    cursor: pointer;
}
.back{
    cursor: pointer;
    width: 20px;
}