@import '../../scss/config';
.background {
  background: #e5e5e5;
}

.wrapper {
  max-width: 1280px;
  padding-top: 0px;
  margin: 0 auto;
}
.container {
  padding: 60px 20px;
}
.preview{
  padding-bottom: 20px;
}

// .clearContent {
//   display: flex;
//   border: 1px solid #000000;
//   border-radius: 50px;
//   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
//   padding: 10px;
//   background-color: rgb(180, 196, 196);
//   max-width: 210px;
//   margin-top: 20px;
//   margin-bottom: 30px;
//   cursor: pointer;
// }
.clear {
  cursor: pointer;
  max-width: 30px;
  height: 100%;
}
.clearText {
  cursor: pointer;
  padding-top: 10px;
}


.detailsInfo {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  @media (max-width: $ssm) {
    padding-left: 0px;
  }
}

.count {
  display: flex;
  font-size: 16px;
}
.countInfo {
  padding-top: 2px;
}
.totalCount {
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
}
.price {
  display: flex;
  font-size: 16px;
  padding-top: 10px;
}
.priceInfo {
  padding-top: 2px;
}
.totalPrice {
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
}

.buttonBottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  @media (max-width: $lg) {
    display: block;
    padding-top: 0px;
  }
}


// .buttonTitle{
//   display: flex;
//   border: 1px solid #000000;
//   border-radius: 50px;
//   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
//   padding: 10px;
//   background-color: rgb(180, 196, 196);
//   max-width: 260px;
//   @media (max-width: $lg) {
//       margin-top: 20px;
//       margin-left: 20px;
//     }
//     @media (max-width: $ssm) {
//       margin-left: 0px;
//     }
// }

.imgBottom{
  max-width: 40px;
}

.buttonSubtitle{
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}






