@import '../../scss/config';

.background {
  background: #e5e5e5;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  text-align: center;
  padding: 100px 100px;
  @media (max-width: $lg) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: $sm) {
    padding-top: 60px;
  }
}
.preview {
  font-size: 26px;
  font-weight: bold;
}
.pain {
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: $sm) {
    padding-top: 20px;
  }
}
.painImg {
  max-width: 1000px;
  height: 100%;
  @media (max-width: $lg) {
    max-width: 700px;
  }
  @media (max-width: $md) {
    max-width: 540px;
  }
  @media (max-width: $sm) {
    max-width: 400px;
  }
  @media (max-width: $ssm) {
    max-width: 260px;
  }
}
.description {
  font-size: 40px;
  padding-top: 40px;
  font-weight: bold;
  @media (max-width: $sm) {
    padding-bottom: 60px;
  }
}

.buttonBottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  @media (max-width: $lg) {
    display: block;
    padding-top: 0px;
  }
}

.imgBottom {
  max-width: 40px;
}

.buttonSubtitle {
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
}
