.root{
    text-align: center;
    padding-top: 300px;
    font-size: 48px;
    //padding: 100px;
    max-width: 750px;
    margin: 0 auto;
    img{
        width: 400px;
    }
    span{
        font-size: 64px;
    }
}
.description{
    text-align: center;
    font-size: 40px;
}