@import '../../scss/config';

.header {
  position: relative;
}

.header__background {
  background: url(../../assets/img/fon1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $xl) {
    background-position: bottom 20% right 50%;
  }
  @media (max-width: $lg) {
    background-position: bottom 0% right 70%;
  }
}

.header__rgda {
  background: rgba(31, 32, 33, 0.79);
}

.header_max {
  max-width: 1280px;
}

.header__container {
  display: flex;
  align-items: center;
  @media (max-width: $lg) {
    display: block;
  }
  // @media (max-width: $md) {
  //   display: block;
  // }
  // @media (max-width: $sm) {
  //   display: block;
  // }
}

.header__logo {
  z-index: 1;
  margin: 40px 0px 0px 120px;
  position: relative; /* Фиксированное положение */
  // left: 0px;

  @media (max-width: $xl) {
    margin-top: 40px;
  }
  @media (max-width: $lg) {
    // margin-tsop: 40px;
    // margin-top: 40px;
  }
  @media (max-width: $md) {
    margin: 0px 0px 0px 40px;
  }
  @media (max-width: $sm) {
    margin-top: 0px;
    margin-left: 40px;
  }
}

.header__logo-1 {
  @media (max-width: $lg) {
    margin-top: 40px;
    // margin-top: 40px;
  }
}

.header__nav {
  padding-left: 160px;
}

.header__nav-list {
  margin: 0 auto;
  display: flex;
  list-style: none;
  @media (max-width: $lg) {
    display: none;
  }
}

.header__nav-item {
  position: relative;
  padding: 56px 0px 0px 116px;

  @media (max-width: $xl) {
    padding: 56px 10px 0px 20px;
  }
  @media (max-width: $lg) {
    display: none;
  }
}

.header__nav-link {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  @media (max-width: $lg) {
    display: none;
  }
}

.header__data {
}

.header__number-container {
  z-index: 1;
  margin-top: 100px;
  @media (max-width: $lg) {
    // margin-top: 100px;
  }
  @media (max-width: $md) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  @media (max-width: $sm) {
    margin-top: 0px;
  }
}

.header__number {
  position: absolute; /* Фиксированное положение */
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  white-space: nowrap;
  margin: 46px 0px 4px 0px;
  right: 20px;

  @media (max-width: $md) {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    right: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 30px;
  }
  // @media (max-width: $sm) {
  //   right: auto;
  //   margin-top: 0px;
  //   padding-top: 0px;
  //   padding-left: 30px;
  //  }

  //Tempesto20
}

.header__text {
  position: absolute; /* Фиксированное положение */
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  white-space: nowrap;
  right: 20px;
  margin: 0px;
  // color: red;
  @media (max-width: $md) {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    right: auto;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 30px;
  }
  // @media (max-width: $sm) {
  //   right: auto;
  //   margin-top: 0px;
  //   padding-top: 0px;
  //   padding-left: 30px;
  //  }
}
.header__block {
}
.header__search {
  display: flex;
}

.header__found {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #ffffff;
  white-space: nowrap;
  margin: 50px 0px 66px 120px;

  @media (max-width: $xl) {
    font-size: 26px;
    line-height: 32px;
    margin: 50px 0px 66px 120px;
  }

  @media (max-width: $md) {
    font-size: 26px;
    line-height: 32px;
    margin: 20px 0px 10px 30px;
  }
}

// @media (max-width: $lg) {
//   .header__nav {
//     display: none;
//   }
// }
