@import '../../scss/config';

.background {
  background: #b3a0a0;
}
.wrapper {
  position: absolute;
  max-width: 400px;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 12px 12px 2px 1px rgba(220, 210, 22, 0.2);
  padding: 20px 20px;
  margin-left: 20px;
  z-index: 2;
  left: 0px;
}
.container {
  @media (max-width: $xl) {
    padding-top: 90px;
  }
}
.eventList {
  display: block;
}
.eventTitle {
  display: block;
}
.subtitle {
  margin-right: 10px;
}
