.wrapper{

margin: 0 auto;
max-width: 1200px;
}
.background{
    position: relative;
}
.img{
    position: relative;
    max-width: 250px;
    cursor: pointer;
}

.like {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 200px;
}
.name{
    cursor: pointer;
}
.remove{
    cursor: pointer;
    color: red;
}