@import './normalize';
@import './config';

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: 'Roboto';
}

.wrapper {
  height: 100%;
  width: 100%;
  // max-width: 1280px;
}
