@import '../../../../scss/config';

.imgCat {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  @media (max-width: $lg) {
    max-width: 600px;
    padding-bottom: 40px;
  }
  @media (max-width: $md) {
    max-width: 480px;
  }
  @media (max-width: $sm) {
    max-width: 300px;
  }
  @media (max-width: $ssm) {
    max-width: 200px;
  }
}

// .arrow {
//   position: absolute;
//   color: #000000;
//   font-size: 2.5em;
//   font-weight: bold;

//   cursor: pointer;
// }

// .nextArrow {
//   top: 0;
//   right: -45px;
// }

// .prevArrow {
//   top: 0;
//   left: -45px;
// }
